/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.linkbutton {
  font-size: 13px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: black;
  padding: 2px 6px 2px 6px;
  border: 1px solid darkgrey;
  color: a;
}

.linkbutton:hover{
  color:  grey;
}

.linkbutton:active{
  color: #F2F2F2;
}
